.header {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    border-bottom: #29487D;
    background-color: #4267B2;
    color: #fff;
    font-family: MONOSPACE, serif;
    font-size: 1.2em;
    font-weight: 600;
}
